// Colors
$text_color: #242b37;
$additional_text_color: #FFF;


$background_color1: #17192b;
$background_color2: #111111;

$decoration_color1: #9e7f66; 
$decoration_color2: #5c6779;
$form_color: #8E8E8E;
// Font 
$primary_font: League Spartan;
