body {
  margin: 0px;
  padding: 0px;
  font-family: League Spartan;
  position: relative;
}

.footer {
  background-color: #111111;
  color: #FFF;
  text-align: center;
}

.footer_container {
  max-width: 330px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 80px;
}

.footer_logo {
  padding-top: 80px;
  padding-bottom: 42px;
  width: 140px;
}

.footer_title {
  font-weight: lighter;
  letter-spacing: 3px;
  line-height: 38px;
}

.footer_text {
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 15px;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    padding: 30px 60px 0px 60px;
    text-align: left;
    align-items: baseline;
  }
  .footer_container {
    max-width: 300px;
    padding-left: 0px;
    padding-right: 100px;
    font-size: 14px;
  }
  .footer_logo {
    padding-top: 30px;
    width: 140px;
  }
}

@media (min-width: 1200px) {
  .footer {
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 250px;
  }
  .footer_container {
    max-width: 860px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 80px;
    display: flex;
    gap: 250px;
  }
  .footer_logo {
    padding-top: 0px;
    padding-bottom: 42px;
    width: 140px;
  }
  .footer_title {
    padding-top: 80px;
    max-width: 300px;
    font-weight: lighter;
    letter-spacing: 3px;
    line-height: 38px;
  }
  .footer_text {
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 15px;
  }
}

.header {
  color: #FFF;
  background-size: cover;
  background-position: top;
  height: 1100px;
  background-image: url("../../Assets/Gallery/homepage/hero-bg-mobile.jpg");
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .header {
    background-image: url("../../Assets/Gallery/homepage/hero-bg-mobile@2x.jpg");
  }
}

@media (min-width: 768px) {
  .header {
    background-image: url("../../Assets/Gallery/homepage/hero-bg-tablet.jpg");
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px) {
  .header {
    background-image: url("../../Assets/Gallery/homepage/hero-bg-tablet@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .header {
    background-image: url("../../Assets/Gallery/homepage/hero-bg-desktop.jpg");
  }
}

@media (min-resolution: 192dpi) and (min-width: 1200px) {
  .header {
    background-image: url("../../Assets/Gallery/homepage/hero-bg-desktop@2x.jpg");
  }
}

.header_container {
  padding-top: 440px;
  text-align: center;
  margin: auto;
}

.header_logo {
  padding-bottom: 30px;
}

.header_title {
  font-weight: lighter;
  font-size: 40px;
  margin: auto;
  line-height: 50px;
  letter-spacing: 2px;
  max-width: 327px;
}

.header_text {
  max-width: 327px;
  font-size: 20px;
  font-weight: lighter;
  line-height: 26px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1.5px;
}

.header_button {
  margin-top: 50px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding: 30px 60px 30px 60px;
  cursor: pointer;
  color: #FFF;
  background: none;
  border-color: #FFF;
  border-style: solid;
}

.header_button:hover {
  color: #242b37;
  background-color: #FFF;
}

@media (min-width: 768px) {
  .header {
    height: 1300px;
  }
  .header_container {
    padding-top: 540px;
  }
  .header_title {
    font-size: 48px;
    line-height: 64px;
  }
  .header_text {
    max-width: 650px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1200px) {
  .header_container {
    padding-top: 140px;
    padding-left: 200px;
    text-align: left;
    margin: auto;
  }
  .header_logo {
    padding-bottom: 180px;
  }
  .header_title {
    font-size: 80px;
    line-height: 80px;
    max-width: 530px;
    margin-left: 0px;
    padding-bottom: 40px;
  }
  .header_text {
    line-height: 30px;
    margin-left: 0px;
    max-width: 500px;
    padding-bottom: 20px;
  }
}

.intro {
  text-align: center;
  margin-top: -100px;
}

.intro_photo {
  box-shadow: 0 10px 20px rgba(36, 43, 55, 0.3), 0 20px 30px rgba(36, 43, 55, 0.4);
}

.intro_icon_lines {
  display: none;
}

.intro_icon {
  width: 100px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.intro_title {
  font-weight: bold;
  font-size: 32px;
  padding-left: 84px;
  padding-right: 84px;
  line-height: 40px;
}

.intro_text {
  font-size: 18px;
  line-height: 26px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .intro {
    background-image: url("../../Assets/Gallery/patterns/pattern-curve-top-left.svg"), url("../../Assets/Gallery/patterns/pattern-curve-top-left.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -380px 200px,510px 1630px;
    padding-bottom: 100px;
  }
  .intro_title {
    font-weight: bold;
    font-size: 48px;
    max-width: 400px;
    margin: auto;
    line-height: 48px;
  }
  .intro_text {
    font-size: 20px;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    max-width: 450px;
    margin: auto;
  }
  .intro_photo {
    position: relative;
  }
  .intro_icon_lines {
    display: block;
    position: relative;
    left: 770px;
    top: -130px;
  }
}

@media (min-width: 1200px) {
  .intro {
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
    background-image: url("../../Assets/Gallery/patterns/pattern-curve-top-right.svg"), url("../../Assets/Gallery/patterns/pattern-curve-top-left.svg");
    background-position: 0px 320px, 1580px 1050px;
    margin-bottom: -200px;
    background-size: auto, 38%;
  }
  .intro_container {
    display: flex;
  }
  .intro_content {
    margin-left: 85px;
    margin-top: 180px;
  }
  .intro_container:nth-of-type(2) {
    flex-direction: row-reverse;
  }
  .intro_icon {
    width: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .intro_title {
    font-size: 48px;
    padding-left: 0px;
    padding-right: 50px;
    line-height: 48px;
  }
  .intro_text {
    font-size: 20px;
    line-height: 30px;
    padding-left: 0px;
    padding-right: 20px;
    max-width: 420px;
    margin-bottom: 150px;
  }
  .intro_icon_lines {
    display: block;
    position: relative;
    left: 650px;
    top: -45px;
  }
}

.container {
  color: #FFF;
  background-color: #111111;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 60px;
}

.initiation {
  max-width: 500px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.initiation_icon {
  width: 150px;
}

.initiation_title {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.4px;
}

.initiation_text {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 45px;
}

.menu {
  max-width: 500px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.menu_photo {
  padding-top: 10px;
  padding-bottom: 15px;
  width: 370px;
}

.menu_title {
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.25px;
}

.menu_text {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 20px;
  border-bottom: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: #5c6779;
}

@media (min-width: 768px) {
  .initiation {
    max-width: 450px;
  }
  .initiation_title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.5px;
  }
  .initiation_text {
    font-size: 20px;
    line-height: 30px;
  }
  .menu {
    display: flex;
    gap: 60px;
    border-bottom: solid 0.1px;
    border-color: #5c6779;
    align-items: center;
  }
  .menu_photo {
    width: 128px;
  }
  .menu_box {
    max-width: 383px;
    text-align: left;
  }
  .menu_title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.25px;
  }
  .menu_text {
    font-size: 16px;
    border: none;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-top: 250px;
    display: flex;
    padding-right: 230px;
    padding-left: 200px;
  }
  .initiation {
    margin-top: -50px;
    text-align: left;
  }
  .initiation_title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.5px;
  }
  .initiation_text {
    font-size: 20px;
    line-height: 30px;
  }
  .menu {
    border: none;
    background-image: url("../../Assets/Gallery/patterns/pattern-divide.svg");
    background-repeat: no-repeat;
    background-position: 110px 25px;
  }
  .menu_photo {
    margin-top: -20px;
  }
}

.reservation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10;
  overflow-y: auto;
}

.booking {
  height: 800px;
  background-size: cover;
  background-position: bottom;
  color: #FFF;
  background-image: url("../../Assets/Gallery/booking/hero-bg-mobile.jpg");
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .booking {
    background-image: url("../../Assets/Gallery/booking/hero-bg-mobile@2x.jpg");
  }
}

@media (min-width: 768px) {
  .booking {
    background-image: url("../../Assets/Gallery/booking/hero-bg-tablet.jpg");
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px) {
  .booking {
    background-image: url("../../Assets/Gallery/booking/hero-bg-tablet@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .booking {
    background-image: url("../../Assets/Gallery/booking/hero-bg-desktop.jpg");
  }
}

@media (min-resolution: 192dpi) and (min-width: 1200px) {
  .booking {
    background-image: url("../../Assets/Gallery/booking/hero-bg-desktop@2x.jpg");
  }
}

.booking_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booking_icon {
  margin: auto;
  padding-top: 120px;
  padding-bottom: 60px;
}

.booking_title {
  margin: auto;
  max-width: 350px;
  text-align: center;
  padding-bottom: 40px;
  font-size: 46px;
  font-weight: lighter;
}

.booking_text {
  margin: auto;
  max-width: 350px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: lighter;
  line-height: 26px;
  text-align: center;
}

.booking_title2 {
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  border: solid;
  border-width: 1px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: normal;
  width: 280px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.form {
  margin-top: -180px;
  background: white;
  padding: 20px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 20px rgba(36, 43, 55, 0.3), 0 20px 30px rgba(36, 43, 55, 0.4);
  margin-bottom: 80px;
}

.form_input {
  width: 90%;
  border: none;
  border-bottom: solid;
  border-width: 1px;
  border-color: #8E8E8E;
  color: #8E8E8E;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.form_box {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 10px;
}

.form_box_time, .form_box_date {
  display: flex;
  justify-content: space-between;
}

.form_box_time_value, .form_box_date_value {
  width: 25%;
  text-align: left;
  border: none;
  border-bottom: solid 1px #8E8E8E;
  color: #8E8E8E;
  font-size: 18px;
  padding-bottom: 25px;
}

.form_box_button {
  background: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: solid 1px #8E8E8E;
}

.form_box_button .arrow_icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.form_box_button.arrow_up .arrow_icon {
  transform: rotate(180deg);
}

.form_box_guests {
  padding-top: 25px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  color: #242b37;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid;
  border-width: 1px;
  border-color: #9e7f66;
}

.form_box_guests_button {
  background: none;
  color: #9e7f66;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.form_box_guests_text {
  font-size: 22px;
  font-weight: bold;
}

.form_button {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  color: #FFF;
  background: #111111;
  border-color: #FFF;
  border-style: solid;
}

.form_button:hover {
  color: #242b37;
  background-color: #FFF;
  border-color: #111111;
}

.confirmation_message {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.confirmation_message h3 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #242b37;
}

.confirmation_message p {
  font-size: 20px;
  color: #242b37;
  margin-bottom: 40px;
}

.offers {
  text-align: center;
  padding-top: 100px;
}

.offers_btn {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding: 30px 60px 30px 60px;
  margin-bottom: 60px;
  cursor: pointer;
  color: #FFF;
  background: #111111;
  border-color: #FFF;
  border-style: solid;
}

.offers_btn:hover {
  color: #242b37;
  background-color: #FFF;
  border-color: #111111;
}

.offers_footer {
  align-items: center;
  height: 370px;
  background-size: cover;
  background-image: url("../../Assets/Gallery/homepage/ready-bg-mobile.jpg");
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .offers_footer {
    background-image: url("../../Assets/Gallery/homepage/ready-bg-mobile@2x.jpg");
  }
}

@media (min-width: 768px) {
  .offers_footer {
    background-image: url("../../Assets/Gallery/homepage/ready-bg-tablet.jpg");
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px) {
  .offers_footer {
    background-image: url("../../Assets/Gallery/homepage/ready-bg-tablet@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .offers_footer {
    background-image: url("../../Assets/Gallery/homepage/ready-bg-desktop.jpg");
  }
}

@media (min-resolution: 192dpi) and (min-width: 1200px) {
  .offers_footer {
    background-image: url("../../Assets/Gallery/homepage/ready-bg-desktop@2x.jpg");
  }
}

.offers_footer_title {
  max-width: 500px;
  margin: auto;
  padding: 80px 20px 40px 20px;
  color: #FFF;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.4px;
}

.offers_footer_btn {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding: 30px 60px 30px 60px;
  cursor: pointer;
  color: #FFF;
  background: none;
  border-color: #FFF;
  border-style: solid;
}

.offers_footer_btn:hover {
  color: #242b37;
  background-color: #FFF;
  border-color: #111111;
}

.event {
  max-width: 500px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.event_photo {
  box-shadow: 0 10px 20px rgba(36, 43, 55, 0.3), 0 20px 30px rgba(36, 43, 55, 0.4);
  margin-bottom: 50px;
}

.event_title {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.4px;
}

.event_text {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 30px;
}

.nav_btn {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2.5px;
  padding-bottom: 15px;
  color: #5c6779;
  cursor: pointer;
  position: relative;
}

.nav_btn:hover {
  color: #111111;
  letter-spacing: 4px;
  font-weight: bolder;
}

.nav_btn.active::after {
  content: "";
  position: absolute;
  left: 45%;
  right: 45%;
  bottom: -3px;
  width: 10%;
  height: 2px;
  background-color: #9e7f66;
}

.offers_icon_lines {
  display: none;
}

@media (min-width: 768px) {
  .offers {
    background-image: url("../../Assets/Gallery/patterns/pattern-curve-top-right.svg");
    background-repeat: no-repeat;
    background-position: -380px 00px;
  }
  .offers_icon_lines {
    display: block;
    position: relative;
    left: 170px;
    top: 38px;
  }
  .offers_footer_title {
    max-width: 700px;
    font-size: 48px;
    padding-top: 120px;
  }
  .event_photo {
    width: 573px;
    margin-left: -30px;
  }
  .event_title {
    font-size: 48px;
  }
  .event_text {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
  }
  .nav {
    display: flex;
    gap: 60px;
    width: 800px;
    margin-left: -60px;
  }
  .nav_btn {
    font-size: 18px;
    letter-spacing: 2.5px;
  }
  .nav_btn:hover {
    letter-spacing: 3px;
  }
  .nav_btn.active::after {
    left: 25%;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .offers {
    text-align: center;
    padding-top: 100px;
  }
  .offers_btn {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    padding: 30px 60px 30px 60px;
    margin-bottom: 60px;
    cursor: pointer;
    color: #FFF;
    background: #111111;
    border-color: #FFF;
    border-style: solid;
  }
  .offers_btn:hover {
    color: #242b37;
    background-color: #FFF;
    border-color: #111111;
  }
  .offers_footer {
    align-items: center;
    height: 370px;
    background-size: cover;
    background-image: url("../../Assets/Gallery/homepage/ready-bg-mobile.jpg");
  }
}

@media only screen and (min-width: 1200px) and (min-resolution: 192dpi) and (max-width: 767px) {
  .offers_footer {
    background-image: url("../../Assets/Gallery/homepage/ready-bg-mobile@2x.jpg");
  }
}

@media (min-width: 1200px) and (min-width: 768px) {
  .offers_footer {
    background-image: url("../../Assets/Gallery/homepage/ready-bg-tablet.jpg");
  }
}

@media (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px) {
  .offers_footer {
    background-image: url("../../Assets/Gallery/homepage/ready-bg-tablet@2x.jpg");
  }
}

@media (min-width: 1200px) and (min-width: 1200px) {
  .offers_footer {
    background-image: url("../../Assets/Gallery/homepage/ready-bg-desktop.jpg");
  }
}

@media (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px) {
  .offers_footer {
    background-image: url("../../Assets/Gallery/homepage/ready-bg-desktop@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .offers_footer_title {
    max-width: 500px;
    margin: auto;
    padding: 80px 20px 40px 20px;
    color: #FFF;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.4px;
  }
  .offers_footer_btn {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    padding: 30px 60px 30px 60px;
    cursor: pointer;
    color: #FFF;
    background: none;
    border-color: #FFF;
    border-style: solid;
  }
  .offers_footer_btn:hover {
    color: #242b37;
    background-color: #FFF;
    border-color: #111111;
  }
  .event {
    max-width: 500px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .event_photo {
    box-shadow: 0 10px 20px rgba(36, 43, 55, 0.3), 0 20px 30px rgba(36, 43, 55, 0.4);
    margin-bottom: 50px;
  }
  .event_title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.4px;
  }
  .event_text {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 30px;
  }
  .nav_btn {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2.5px;
    padding-bottom: 15px;
    color: #5c6779;
    cursor: pointer;
    position: relative;
  }
  .nav_btn:hover {
    color: #111111;
    letter-spacing: 4px;
    font-weight: bolder;
  }
  .nav_btn.active::after {
    content: "";
    position: absolute;
    left: 45%;
    right: 45%;
    bottom: -3px;
    width: 10%;
    height: 2px;
    background-color: #9e7f66;
  }
  .offers_icon_lines {
    display: none;
  }
}
