.container {
  color: #FFF;
  background-color: #111111;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 60px;
}

.initiation {
  max-width: 500px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.initiation_icon {
  width: 150px;
}

.initiation_title {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.4px;
}

.initiation_text {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 45px;
}

.menu {
  max-width: 500px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.menu_photo {
  padding-top: 10px;
  padding-bottom: 15px;
  width: 370px;
}

.menu_title {
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.25px;
}

.menu_text {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 20px;
  border-bottom: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: #5c6779;
}

@media (min-width: 768px) {
  .initiation {
    max-width: 450px;
  }
  .initiation_title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.5px;
  }
  .initiation_text {
    font-size: 20px;
    line-height: 30px;
  }
  .menu {
    display: flex;
    gap: 60px;
    border-bottom: solid 0.1px;
    border-color: #5c6779;
    align-items: center;
  }
  .menu_photo {
    width: 128px;
  }
  .menu_box {
    max-width: 383px;
    text-align: left;
  }
  .menu_title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.25px;
  }
  .menu_text {
    font-size: 16px;
    border: none;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-top: 250px;
    display: flex;
    padding-right: 230px;
    padding-left: 200px;
  }
  .initiation {
    margin-top: -50px;
    text-align: left;
  }
  .initiation_title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.5px;
  }
  .initiation_text {
    font-size: 20px;
    line-height: 30px;
  }
  .menu {
    border: none;
    background-image: url("../../Assets/Gallery/patterns/pattern-divide.svg");
    background-repeat: no-repeat;
    background-position: 110px 25px;
  }
  .menu_photo {
    margin-top: -20px;
  }
}
